.profile-header {
    margin: 10px 30px;
}

.profile-header h3 {
    font-size: 24px;
    color: #0066CC;
}

.form-group {
    margin: 10px 30px;
}

label {
    font-weight: bold;
    font-size: 1.15em;
    display: block;
    margin-bottom: 5px;
}

.required::after {
    content: " *";
    color: red;
}

input[type="text"], input[type="password"], input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px; /* Increased border-radius */
}

.custom-file-upload-button {
    padding: 8px 10px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f8f8f8;
}

#file-name-display {
    margin-left: 10px;
    font-size: 16px;
}

.form-group input[type='file'] {
    display: none;
}

.majority-width {
    width: 60%;
    display: inline-block;
}

.minority-width {
    width: 30%;
    display: inline-block;
}

input[type="radio"] {
    width: auto;
    margin-right: 10px;
}

.radio-label {
    display: inline-block;
    margin-right: 2px;
    padding-top: 10px;
}

.save-button {
    width: 60%;
    padding: 10px;
    margin: 10px 30px;
    background-color: #0066CC;
    color: white;
    border: none;
    border-radius: 8px; /* Increased border-radius */
    cursor: pointer;
}

p.error-message {
    display: none;
}