body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.sidebar {
    background-color: #F0F0F0;
    width: 220px;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    padding: 20px 10px; /* Updated padding */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.bank-info {
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bank-info img {
    width: 80px; /* Increased width */
    height: 80px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.bank-info span {
    align-self: center;
    font-weight: bold;
}

.separator {
    width: 150%; /* Width less than 100% for some space on the sides */
    height: 1px;
    background-color: #aaa;
    margin: 10px 0;
}

.sidebar button {
    background-color: #dedede;
    color: black;
    font-weight: bold;
    margin: 8px;
    padding: 14px 20px; /* Larger padding */
    width: 140%; /* Slightly larger button */
    max-width: 200px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
}

.sidebar button.onclick {
    background-color: #0066CC;
    color: whitesmoke;
}

.sidebar .middle-buttons {
    flex: 0 0 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sidebar .bottom-buttons {
    flex: 0 0 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.bottom-buttons button {
    color: white;
    background-color: #CC3333;
    width: 210%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
    text-align: center;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 40%; /* Could be more or less, depending on screen size */
    min-height: 10%;
    max-height: 60%;
    justify-content: space-around; /* Improved spacing within the modal */
}

.modal-content .button-container {
    width: 100%; /* Full width of the modal content */
    display: flex; /* Using flexbox to layout buttons */
    justify-content: space-evenly; /* Even spacing around the buttons */
}

.modal-content button {
    padding: 14px 20px;
    margin: 10px;
    border: none;
    border-radius: 8px; /* 圆角 */
    cursor: pointer;
    font-size: 16px; /* 文本大小 */
    flex: 1; /* Flex property to fill the space */
}

.modal-content button.confirm {
    background-color: #CC3333; /* 确认按钮的颜色 */
    color: white;
}

.modal-content button.cancel {
    background-color: #dedede; /* 取消按钮的颜色 */
    color: black;
}


.main-content {
    margin-left: 220px;
    padding: 20px;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    margin-top: 6px;
    margin-bottom: 25px;
}


.header h1 {
    margin: 0;
    color: #40A798;
}

.header img {
    height: 50px;
    border-radius: 50%;
}