<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>USTC 银行</title>
    <base href="/dashboard/">
    {% load static %}
    <link rel="icon" href="{% static 'image/favicon-rounded.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard/dashboard.css' %}">
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/dashboard/dashboard.js' %}"></script>
</head>
<body>
<div id="pageContent">
    <div class="sidebar">
        <div class="bank-info">
            {% load static %}
            <img src="{% static 'image/logo.png' %}" alt="Bank Logo">
            <span>USTC 银行</span>
            <div class="separator"></div>
        </div>
        <div class="middle-buttons">
            <button onclick="goToPage('');" class="onclick">账户查询</button>
            <button onclick="goToPage('profile');">个人主页</button>
            <button onclick="goToPage('savings');">储蓄账户</button>
            <button onclick="goToPage('credit')">信用卡账户</button>
            <button onclick="goToPage('loan')">贷款账户</button>
        </div>
        <div class="bottom-buttons">
            <button onclick="openLogoutModal()">登出</button>
        </div> 
    </div>
    <div class="main-content">
        <div class="header">
            <h1>你好，{{ c_name }}!</h1>
            <img src="{{ MEDIA_URL }}{{ c_avatar }}" alt="User Avatar">
        </div>
        <div class="dashboard-header">
            <h3>账户查询</h3>
        </div>
        <h3 class="savings-accounts">储蓄账户</h3>
        <table class="savings-accounts">
            <tr>
                <th>账号</th>
                <th>余额</th>
                <th>开户日期</th>
                <th>开户银行</th>
            </tr>
            {% for account in SavingsAccount %}
                <tr>
                    <td>{{ account.a_no }}</td>
                    <td>{{ account.formatted_balance }}</td>
                    <td>{{ account.a_open_time|date:"Y-m-d" }}</td>
                    <td>{{ account.a_open_b_name }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" class="empty-row">没有储蓄账户信息</td>
                </tr>
            {% endfor %}
        </table>
        <h3 class="credit-accounts">信用卡账户</h3>
        <table class="credit-accounts">
            <tr>
                <th>账号</th>
                <th>余额</th>
                <th>开户日期</th>
                <th>开户银行</th>
            </tr>
            {% for account in dashboard_dict.CreditAccount %}
                <tr>
                    <td>{{ account.a_no }}</td>
                    <td>{{ account.formatted_balance }}</td>
                    <td>{{ account.a_open_time|date:"Y-m-d" }}</td>
                    <td>{{ account.a_open_b_name }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" class="empty-row">没有信用卡账户信息</td>
                </tr>
            {% endfor %}
        </table>
        <h3 class="loan-accounts">贷款账户</h3>
        <table class="loan-accounts">
            <tr>
                <th>账号</th>
                <th>余额</th>
                <th>开户日期</th>
                <th>开户银行</th>
            </tr>
            {% for account in dashboard_dict.LoanAccount %}
                <tr>
                    <td>{{ account.a_no }}</td>
                    <td>{{ account.formatted_balance }}</td>
                    <td>{{ account.a_open_time|date:"Y-m-d" }}</td>
                    <td>{{ account.a_open_b_name }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" class="empty-row">没有贷款账户信息</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div id="logoutModal" class="modal">
    <div class="modal-content">
        <h2>确认要登出吗？</h2>
        <div class="button-container">
            <button onclick="logout()" class="confirm">确认</button>
            <button onclick="closeLogoutModal()" class="cancel">取消</button>
        </div>
    </div>
</div>

</body>
</html>
