<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>USTC 银行 - 贷款账户</title>
    <base href="/dashboard/">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard/loan.css' %}">
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/dashboard/loan.js' %}"></script>
</head>
<body>
<div id="pageContent">
    <div class="sidebar">
        <div class="bank-info">
            {% load static %}
            <img src="{% static 'image/logo.png' %}" alt="Bank Logo">
            <div class="separator"></div>
        </div>
        <script>
            function goToPage(page) {
                window.location.href = page;
            }
        </script>
        <button onclick="goToPage('');">账户查询</button>
        <button onclick="goToPage('profile');">个人资料</button>
        <button onclick="goToPage('savings');">储蓄账户</button>
        <button onclick="goToPage('credit')">信用卡账户</button>
        <button onclick="goToPage('loan')" class="onclick">贷款账户</button>
        <button onclick="openLogoutModal()" class="logout-btn">登出</button>
    </div>
    <div class="main-content">
        <div class="header">
            <h1>你好，Username!</h1>
            <img src="{% static 'image/logo.png' %}" alt="User Avatar">
        </div>
        <div class="account-header">
            <h3>贷款账户</h3>
            <button onclick="openAddAccountModal()">添加账户</button>
        </div>

        <!-- 账户信息列表 -->
        <div class="account-details">
            <!-- 第一个账户 -->
            <div class="account">
                <p class="account-number">账户号码：CA123456</p>
                <div class="account-row">
                    <p>余额：¥ 123</p>
                    <p>开户银行：东区银行</p>
                    <p>绑定员工：E001</p>
                </div>
                <div class="account-row">
                    <p>贷款利率：5%</p>
                    <p>贷款额度：¥ 10000</p>
                    <p></p>
                </div>
                <div class="button-row">
                    <button onclick="openDepositModal()" class="deposit">存款</button>
                    <button onclick="openWithdrawModal()" class="withdraw">取款</button>
                    <button onclick="openTransferModal()" class="transfer">转账</button>
                </div>
                <div class="button-row">
                    <button onclick="openLoanRepayModal()" class="loan-repay">
                        还贷
                    </button>
                    <button onclick="openLoanApplyModal()" class="loan-apply">
                        申请贷款
                    </button>
                    <button onclick="openLoanDetailModal()" class="loan-detail">
                        贷款明细
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="logoutModal" class="modal">
    <div class="modal-content">
        <h2>确认要登出吗？</h2>
        <div class="button-container">
            <button onclick="logout()" class="confirm">确认</button>
            <button onclick="closeLogoutModal()" class="cancel">取消</button>
        </div>
    </div>
</div>
<div id="addAccountModal" class="modal">
    <div class="business-modal-content add-account-modal-content">
        <h2 class="add-account">添加账户</h2>
        <h3>为您分配的账户号：1234，您可以随时取消！</h3>
        <div class="button-container">
            <button type="submit" class="confirm">
                确认添加
            </button>
            <button type="button" onclick="closeAddAccountModal()" class="cancel">
                取消
            </button>
        </div>
    </div>
</div>
<div id="depositModal" class="modal">
    <div class="business-modal-content">
        <h2 class="deposit">存款</h2>
        <h3>账户号：1234</h3>
        <form action="" method="post">
            {% csrf_token %}
            <div class="input-form-group">
                <label for="amount">存款金额：</label>
                <input type="text" id="amount" name="amount" required>
            </div>
            <div class="input-form-group">
                <label for="password">账户密码：</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="button-container">
                <button type="submit" class="confirm">
                    确认
                </button>
                <button type="button" onclick="closeDepositModal()" class="cancel">
                    取消
                </button>
            </div>
        </form>
    </div>
</div>
<div id="withdrawModal" class="modal">
    <div class="business-modal-content">
        <h2 class="withdraw">取款</h2>
        <h3>账户号：1234</h3>
        <form action="" method="post">
            {% csrf_token %}
            <div class="input-form-group">
                <label for="amount">取款金额：</label>
                <input type="text" id="amount" name="amount" required>
            </div>
            <div class="input-form-group">
                <label for="password">账户密码：</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="button-container">
                <button type="submit" class="confirm">
                    确认
                </button>
                <button type="button" onclick="closeWithdrawModal()" class="cancel">
                    取消
                </button>
            </div>
        </form>
    </div>
</div>
<div id="transferModal" class="modal">
    <div class="business-modal-content transfer-modal-content" >
        <h2 class="transfer">转账</h2>
        <h3>账户号：1234</h3>
        <form action="" method="post">
            {% csrf_token %}
            <div class="input-form-group">
                <label for="amount">转账金额：</label>
                <input type="text" id="amount" name="amount" required>
            </div>
            <div class="input-form-group">
                <label for="target">目标账户号：</label>
                <input type="text" id="target" name="target" required>
            </div>
            <div class="input-form-group">
                <label for="password">账户密码：</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="button-container">
                <button type="submit" class="confirm">
                    确认
                </button>
                <button type="button" onclick="closeTransferModal()" class="cancel">
                    取消
                </button>
            </div>
        </form>
    </div>
</div>
<div id="loanRepayModal" class="modal">
    <div class="business-modal-content">
        <h2 class="loan-repay">还贷</h2>
        <h3>账户号：1234</h3>
        <form action="" method="post">
            {% csrf_token %}
            <div class="input-form-group">
                <label for="loan-id">选择贷款号：</label>
                <input type="text" id="loan-id" name="loan-id" required>
            </div>
            <div class="input-form-group">
                <label for="amount">还贷金额：</label>
                <input type="text" id="amount" name="amount" required>
            </div>
            <div class="input-form-group">
                <label for="password">账户密码：</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="button-container">
                <button type="submit" class="confirm">
                    确认
                </button>
                <button type="button" onclick="closeLoanRepayModal()" class="cancel">
                    取消
                </button>
            </div>
        </form>
    </div>
</div>
<div id="loanApplyModal" class="modal">
    <div class="business-modal-content">
        <h2 class="loan-apply">申请贷款</h2>
        <h3>账户号：1234，贷款号：L001</h3>
        <form action="" method="post">
            {% csrf_token %}
            <div class="input-form-group">
                <label for="amount">贷款金额：</label>
                <input type="text" id="amount" name="amount" required>
            </div>
            <div class="input-form-group">
                <label for="password">账户密码：</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="button-container">
                <button type="submit" class="confirm">
                    确认
                </button>
                <button type="button" onclick="closeLoanApplyModal()" class="cancel">
                    取消
                </button>
            </div>
        </form>
    </div>
</div>
<div id="loanDetailModal" class="modal">
    <div class="business-modal-content">
        <h2 class="loan-detail">贷款明细</h2>
        <h3>账户号：1234</h3>
        <form action="" method="post">
            {% csrf_token %}
            <div class="input-form-group">
                <label for="amount">还贷金额：</label>
                <input type="text" id="amount" name="amount" required>
            </div>
            <div class="input-form-group">
                <label for="password">账户密码：</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="button-container">
                <button type="submit" class="confirm">
                    确认
                </button>
                <button type="button" onclick="closeLoanDetailModal()" class="cancel">
                    取消
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
