<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>USTC 银行 - 个人主页</title>
    <base href="/dashboard/">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard/profile.css' %}">
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/alert_message.js' %}"></script>
    <script src="{% static 'js/dashboard/profile.js' %}"></script>
</head>
<body>
<div id="pageContent">
    <div class="sidebar">
        <div class="bank-info">
            {% load static %}
            <img src="{% static 'image/logo.png' %}" alt="Bank Logo">
            <span>USTC 银行</span>
            <div class="separator"></div>
        </div>
        <button onclick="goToPage('');">账户查询</button>
        <button onclick="goToPage('profile');" class="onclick">个人主页</button>
        <button onclick="goToPage('savings');">储蓄账户</button>
        <button onclick="goToPage('credit')">信用卡账户</button>
        <button onclick="goToPage('loan')">贷款账户</button>
        <button onclick="openLogoutModal()" class="logout-btn">登出</button>
    </div>
    <div class="main-content">
        <div class="header">
            <h1>你好，{{ c_name }}!</h1>
            <img src="{{ MEDIA_URL }}{{ c_avatar }}" alt="User Avatar">
        </div>
        <div class="profile-header">
            <h3>个人主页</h3>
        </div>
        <div>
            {% if messages %}
                {% for message in messages %}
                    {% if forloop.last %}
                        <p class="error-message">{{ message }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <form action="/dashboard/profile/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group majority-width">
                <label for="name" class="required">姓名</label>
                <input type="text" id="name" name="name" value="{{ c_name }}" disabled>
            </div>
            <div class="form-group minority-width">
                <label>性别</label>
                <label class="radio-label">
                    <input type="radio" name="gender" value="male" {% if c_gender == 'M' %}checked{% endif %}
                           disabled>
                    男
                </label>
                <label class="radio-label">
                    <input type="radio" name="gender" value="female" {% if c_gender == 'F' %}checked{% endif %}
                           disabled>
                    女
                </label>
            </div>
            <div class="form-group minority-width">
                <label for="file-upload-button">上传头像</label>
                <button id="file-upload-button" type="button" class="custom-file-upload-button">
                    上传文件
                </button>
                <input type="file" id="file-upload" name="avatar" accept="image/*"/>
                <span id="file-name-display"></span>
            </div>
            <div class="form-group majority-width">
                <label for="phone">电话</label>
                <input type="tel" id="phone" name="phone" pattern="\d{11}" title="电话号码应为11位数字"
                       value="{{ c_phone }}" placeholder="请输入11位电话">
            </div>
            <div class="form-group minority-width">
                <label for="age">年龄</label>
                <input type="text" id="age" name="age" value="{{ c_age }}">
            </div>
            <div class="form-group majority-width">
                <label for="address">地址</label>
                <input type="text" id="address" name="address" value="{{ c_addr }}" placeholder="不超过200个字">
            </div>
            <button type="submit" class="save-button">确认修改</button>
        </form>
    </div>
</div>
<div id="logoutModal" class="modal">
    <div class="modal-content">
        <h2>确认要登出吗？</h2>
        <div class="button-container">
            <button onclick="logout()" class="confirm">确认</button>
            <button onclick="closeLogoutModal()" class="cancel">取消</button>
        </div>
    </div>
</div>
</body>
</html>
