<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>客户注册</title>
    {% load static %}
    <link rel="icon" href="{% static 'image/favicon-rounded.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/customer_register.css' %}">
</head>
<body>
<div class="form-container">
    <h2>用户注册</h2>
    <form action="/customer_register/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_number">身份证号</label>
            <input type="text" id="id_number" name="id_number" value="{{ id_number }}" placeholder="请输入18位身份证号"
                   required>
        </div>
        <div class="form-group">
            <label for="password">密码</label>
            <input type="password" id="password" name="password" value="{{ password }}" placeholder="请输入6-10位密码"
                   required>
        </div>
        <div class="form-group">
            <label for="confirm_password">确认密码</label>
            <input type="password" id="confirm_password" name="confirm_password" value="{{ confirm_password }}"
                   placeholder="请确认密码" required>
        </div>
        <div class="form-group">
            <label class="form-label" for="captcha">验证码</label>
            <div class="captcha-container">
                <input type="text" id="captcha" name="captcha">
                <img class="captcha-image" src="{{ captcha_url }}" alt="CAPTCHA">
            </div>
        </div>
        <button type="submit">注册</button>
        <div class="account-action">
            已有账户？<a href="/login/">登录</a>
        </div>
        <div>
            {% if messages %}
                {% for message in messages %}
                    {% if forloop.last %}
                        <p class="error-message">{{ message }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </form>
</div>
</body>
</html>
