<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>USTC 银行管理系统</title>
    <base href="/">
    {% load static %}
    <link rel="icon" href="{% static 'image/favicon-rounded.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
<div class="container">
    <div class="left-panel">
        <div class="header">
            <h1>USTC 银行管理系统</h1>
        </div>
        <div class="slogan">
            <p class="large">让这里</p>
            <p class="small">作为您远航的起点，也成为您扬帆的护佑</p>
        </div>
        <div class="blank"></div>
    </div>
    <div class="right-panel">
        <div class="right-logo">
            {% load static %}
            <img src="{% static 'image/logo.png' %}" alt="Bank Logo">
        </div>
        <div class="content">
            <h2>快速开始！</h2>
            <div class="buttons">
                <button onclick="window.location.href='/login';">登录</button>
                <button onclick="window.location.href='/customer_register';">注册</button>
            </div>
        </div>
        <div class="bottom">
            <div class="footer">
                <a href="https://github.com/Melmaphother/2024-USTC-Database-Lab2">Melmaphother</a> &nbsp; &copy; 2024
            </div>
            <div class="links">
                <a href="/terms">使用条款</a> | <a href="/privacy">隐私政策</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
