<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>USTC 银行管理系统隐私政策</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/terms.css' %}">
</head>
<body>
<div class="content">
    <h1>USTC 银行管理系统隐私政策</h1>
    <section class="privacy">
        <h2>隐私政策</h2>
        <p>我们重视您的隐私，以下是我们的隐私政策：</p>
        <ul>
            <li>我们承诺保护您的个人信息，不会将其泄露给任何第三方。</li>
            <li>我们可能会收集您的使用数据来改善服务体验，但保证这一过程中维护您的匿名性。</li>
            <li>所有收集的个人信息仅用于提供和优化我们的服务，不做其他用途。</li>
        </ul>
    </section>
</div>
</body>
</html>
